name: Java CI with Maven

on:
  push:
    branches: [ "Zied" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Cache SonarCloud packages
      uses: actions/cache@v3
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar

    - name: Build with Maven
      run: mvn clean
      working-directory: ./pi

    - name: Build and SonarCloud Scan with Maven
      run: mvn -B verify -DskipTests org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=ziedtuihri_PI_BackEnd
      working-directory: ./pi
      env:
        SONAR_TOKEN: ${{ secrets.SONARCLOUD_SECRET_TOKEN }}